<%= link_to 'Edit', edit_account_path %>
<%= link_to 'Delete account', user_path(current_user), :method => "delete", :confirm => "Are you sure you want to delete your account?" %>

<table>
	<tr>
		<th>Login</th>
		<th>Email</th>
		<th>Studentnumber</th>
	</tr>
	<tr>
		<td><%=h @user.login %></td>
		<td><%=h @user.email %></td>
		<td><%=h @user.studentnumber %></td>
	</tr>
</table>

<%= link_to("Become a friend!", "/account/#{@user.login}/become_a_friend") unless current_user.friends_with?(@user) %>

<h3>Your registrations</h3>

<%= render :partial => 'course_registration', :collection => @user.course_registrations %>