<%= flash[:notice] if flash[:notice] %>

<h5>> <%= link_to("Create a new subject", new_subject_path) %></h5>

<table>
	<tr>
		<td align='left' valign='top' width='40%'>
			<div>
				<h3>Subjects</h3>
<% @subjects.each do |subject| %>
				<div class="subject index">
					<div><%= link_to subject.name, subject_path(subject), :class => 'name' %></div>
				</div>
<% end -%>
			</div>
		</td>
		<td align='left' valign='top' width='40%'>
			<h3>Newsfeed</h3>
			<%= render :partial => 'shared/newsfeed_event', :collection => @newsfeed_events %>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<%= render :partial => 'shared/most_attendeed_courses_chart' %>
		</td>
	</tr>
</table>