<%= link_to('Back to list', subjects_path, :class => 'back_to_index') %>

<div class="subject show">
	<div class="name"><%= @subject.name %></div>
	<div class="description"><%= nl2br(@subject.description) %></div>
</div>

<ul>
<% @subject.courses.each do |course| %>
	<li><%= link_to(course.label, subject_course_path(@subject, course)) %> <%= subject_course_path(@subject, course) %></li>
<% end %>
</ul>