<%= link_to('Back to subject', subject_path(@course.subject), :class => 'back_to_index') %>

<div class="course show">
	<div class="name"><%= @course.name %></div>
	<div class="description"><%= nl2br(@course.description) %></div>
</div>

<hr>

Exercise groups:

<ul>
<% @course.exercise_groups.starting_this_year.sort_by(&:starts_at).each do |eg| %>
	<li>
		<%= eg.description %> [<%= eg.students.count %> / <%= eg.max_students %> registered]
<% if eg.students.size > 0 %>
		<br />
		<b>Attending students:</b>
		<ul>
		<% eg.students.compact.each do |s| %>
			<li><%= link_to s.login, "/account/#{s.login}" %> <%= link_to('Become a friend!', "/account/#{s.login}/become_a_friend") unless @current_user.friends_with?(s) %></li>
		<% end %>
		</ul>
<% end %>
		<%= button_to("Register to course", register_subject_course_exercise_group_path(@course.subject, @course, eg)) if eg.students.count < eg.max_students %>
		<%= button_to("Send email to attendees", email_form_subject_course_exercise_group_path(@course.subject, @course, eg), :method => :get) %>
	</li>
<% end %>
</ul>

<hr>

Course exams:

<ul>
<% @course.course_exams.each do |ce| %>
	<li><%= ce.name %> <%= button_to("Register for exam", register_subject_course_course_exam_path(@course.subject, @course, ce)) unless ce.students.include?(current_user) %></li>
<% end %>
</ul>
