<html>
	<head>
		<title>Ilmo 2.0</title>
		<%= stylesheet_link_tag "application" %>
	</head>
	
	<body marginheight="0" marginwidth="0">
		
		<div class="header"><%= link_to("Home", root_url) %> | <%= current_time %> | <%= render :partial => @current_user.present? ? "shared/logged_in_user" : "shared/login_form" %></div>
		
		<div class="content">
		<%= yield %>
		</div>
		
	</body>
</html>